apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{ kube_config_dir }}/pki/ca.crt
    server: https://{{ kube_primary_master_ip }}:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: system:node:{{ inventory_hostname }}
  name: system:node:{{ inventory_hostname }}@kubernetes
current-context: system:node:{{ inventory_hostname }}@kubernetes
kind: Config
preferences: {}
users:
- name: system:node:{{ inventory_hostname }}
  user:
    client-certificate: {{ kube_config_dir }}/pki/{{ inventory_hostname }}.crt
    client-key: {{ kube_config_dir }}/pki/{{ inventory_hostname }}.key