---
- name: copy key from cert authority
  copy:
    src: "{{ kube_config_dir }}/pki/{{ inventory_hostname }}.key"
    dest: "{{ kube_config_dir }}/pki/{{ inventory_hostname }}.key"

- name: copy crt from cert authority
  copy:
    src: "{{ kube_config_dir }}/pki/{{ inventory_hostname }}.crt"
    dest: "{{ kube_config_dir }}/pki/{{ inventory_hostname }}.crt"

- name: copy certs and keys
  copy:
    src: "{{ kube_config_dir }}/pki/{{ item }}"
    dest: "{{ kube_config_dir }}/pki/{{ item }}"
  with_items:
    - "{{ inventory_hostname }}.key"
    - "{{ inventory_hostname }}.crt"
    - ca.crt
    - apiserver-kubelet-client.key
    - apiserver-kubelet-client.crt
    - proxy.key
    - proxy.crt
