[ req ]
default_bits = 2048
prompt = no
default_md = sha256
req_extensions = req_ext
distinguished_name = dn
    
[ dn ]
C = {{ kube_csr_country }}
ST = {{ kube_csr_state }}
L = {{ kube_csr_locality }}
O = {{ kube_csr_org }}
OU = {{ kube_csr_org_unit }}
CN = {{ kube_primary_master_ip }}
    
[ req_ext ]
subjectAltName = @alt_names
    
[ alt_names ]
DNS.1 = kubernetes
DNS.2 = kubernetes.default
DNS.3 = kubernetes.default.svc
DNS.4 = kubernetes.default.svc.{{ kube_cluster_short_name }}
DNS.5 = kubernetes.default.svc.{{ kube_cluster_name }}
IP.1 = {{ kube_primary_master_ip }}
IP.2 = {{ kube_service_cluster_ip }}
    
[ v3_ext ]
authorityKeyIdentifier=keyid,issuer:always
basicConstraints=CA:FALSE
keyUsage=keyEncipherment,dataEncipherment
extendedKeyUsage=serverAuth,clientAuth
subjectAltName=@alt_names