{
"apiVersion": "v1",
"kind": "Pod",
"metadata": {
  "name":"etcd-server",
  "namespace": "kube-system",
  "annotations": {
    "scheduler.alpha.kubernetes.io/critical-pod": ""
  }
},
"spec":{
"hostNetwork": true,
"containers":[
    {
    "name": "etcd-container",
    "image": "{{ etcd_image }}",
    "resources": {
      "requests": {
        "cpu": "200m"
      }
    },
    "command": [
              "/bin/sh",
              "-c",
              "if [ -e /usr/local/bin/migrate-if-needed.sh ]; then /usr/local/bin/migrate-if-needed.sh 1>>/var/log/etcd.log 2>&1; fi; /usr/local/bin/etcd --name etcd-{{ inventory_hostname }} --listen-peer-urls {{ etcd_protocol }}://{{ inventory_hostname }}:{{ etcd_server_port }} --initial-advertise-peer-urls {{ etcd_protocol }}://{{ inventory_hostname }}:{{ etcd_server_port }} --advertise-client-urls http://127.0.0.1:{{ etcd_port }} --listen-client-urls http://127.0.0.1:{{ etcd_port }} --quota-backend-bytes=4294967296 --data-dir /var/etcd/data --initial-cluster-state {{ etcd_cluster_state }} --initial-cluster {{TODO etcd_cluster }} {{TODO etcd_creds }} 1>>/var/log/etcd.log 2>&1"
            ],
    "env": [
      { "name": "TARGET_STORAGE",
        "value": "etcd3"
      },
      { "name": "TARGET_VERSION",
        "value": "{{ etcd_version }}"
      },
      { "name": "DATA_DIRECTORY",
        "value": "/var/etcd/data"
      }
        ],
    "livenessProbe": {
      "httpGet": {
        "host": "127.0.0.1",
        "port": {{ etcd_port }},
        "path": "/health"
      },
      "initialDelaySeconds": 15,
      "timeoutSeconds": 15
    },
    "ports": [
      { "name": "serverport",
        "containerPort": {{ etcd_server_port }},
        "hostPort": {{ etcd_server_port }} 
      },
      { "name": "clientport",
        "containerPort": {{ etcd_port }},
        "hostPort": {{ etcd_port }}
      }
        ],
    "volumeMounts": [
      { "name": "varetcd",
        "mountPath": "/var/etcd",
        "readOnly": false
      },
      { "name": "varlogetcd",
        "mountPath": "/var/log/etcd.log",
        "readOnly": false
      },
      { "name": "etc",
        "mountPath": "/srv/kubernetes",
        "readOnly": false
      }
    ]
    }
],
"volumes":[
  { "name": "varetcd",
    "hostPath": {
        "path": "/mnt/master-pd/var/etcd"}
  },
  { "name": "varlogetcd",
    "hostPath": {
        "path": "/var/log/etcd.log",
        "type": "FileOrCreate"}
  },
  { "name": "etc",
    "hostPath": {
        "path": "/srv/kubernetes"}
  }
]
}}