apiVersion: v1
kind: Pod
metadata:
  name: kube-controller-manager
spec:
  containers:
  - command:
    - /hyperkube
    - controller-manager
    - --master=127.0.0.1:8080 
    - --cluster-name=cluster.local
    - --cluster-cidr=10.245.0.0/16 
    - --allocate-node-cidrs=true
    # - --service-account-private-key-file=/srv/kubernetes/server.key
    - --leader-elect=true
    # - 1>>/var/log/kube-controller-manager.log 2>&1
    image: {{ hyperkube_image }}
    livenessProbe:
      httpGet:
        path: /healthz
        port: 10252
      initialDelaySeconds: 15
      timeoutSeconds: 1
    name: kube-controller-manager
    volumeMounts:
    - mountPath: /srv/kubernetes
      name: srvkube
      readOnly: true
    # - mountPath: /var/log/kube-controller-manager.log
    #   name: logfile
    - mountPath: /etc/ssl
      name: etcssl
      readOnly: true
  hostNetwork: true
  volumes:
  - hostPath:
      path: /srv/kubernetes
    name: srvkube
  # - hostPath:
  #     path: /var/log/kube-controller-manager.log
  #   name: logfile
  - hostPath:
      path: /etc/ssl
    name: etcssl
