apiVersion: v1
kind: Config
users:
- name: kube-proxy
#   user:
#     token: ${KUBELET_TOKEN}
clusters:
- name: {{ cluster_name }}
  cluster:
    insecure-skip-tls-verify: true
    server: http://{{ ansible_default_ipv4.address }} # TODO multiple API servers
contexts:
- context:
    cluster: local
    user: kube-proxy
  name: service-account-context
current-context: service-account-context