apiVersion: v1
kind: Pod
metadata:
  name: etcd-server
  namespace: kube-system
  annotations:
    scheduler.alpha.kubernetes.io/critical-pod: ''
spec:
  hostNetwork: true
  containers:
  - name: etcd-container
    image: "{{ etcd_image }}"
    command:
    - /usr/local/bin/etcd
    - --name
    - {{ inventory_hostname }}
    - --initial-advertise-peer-urls
    - http://{{ ansible_default_ipv4.address }}:2380
    - --listen-peer-urls
    - http://{{ ansible_default_ipv4.address }}:2380
    - --advertise-client-urls
    - http://{{ ansible_default_ipv4.address }}:2379
    - --listen-client-urls
    - http://127.0.0.1:2379
    - --data-dir
    - /var/etcd/data
    - --initial-cluster
    - {% for host in groups['kube-masters'] %}{{inventory_hostname}}={{ etcd_protocol}}://{{hostvars[host].ansible_default_ipv4.address }}:{{ etcd_server_port }}{% if not loop.last %},{% endif %}{% endfor %}

    - --initial-cluster-state
    - new
    ports:
    - containerPort: 2380
      hostPort: 2380
      name: serverport
    - containerPort: 2379
      hostPort: 2379
      name: clientport
    volumeMounts:
    - mountPath: /var/etcd
      name: varetcd
    - mountPath: /srv/kubernetes
      name: etc
  volumes:
  - hostPath:
      path: /var/etcd
    name: varetcd
  - hostPath:
      path: {{ kubernetes_srv_dir }}
    name: etc
