---
kube_primary_master: "{{ groups[['kube-masters'][0]] }}"
kube_primary_master_ip: "{{ hostvars[kube_primary_master].ansible_default_ipv4.address }}" # ovverride with VIP for manager machines with multi manager setup
kube_cluster_short_name: cluster
kube_cluster_name: cluster.local
kube_cluster_pod_cidr: "10.10.0.0/16"
kube_service_cluster_ip_range: "10.0.0.0/16"
kube_service_cluster_ip: "10.0.0.1"
kube_dns_ip: "10.0.0.10"
kube_version: 1.8.2
kube_docker_registry: gcr.io
kube_config_dir: /etc/kubernetes
kube_srv_dir: /srv/kubernetes
kube_encrypt: false
kube_api_protocol: http
kube_etcd_version: 3.0.17
kube_etcd_image: "{{ kube_docker_registry }}/google-containers/etcd:{{ kube_etcd_version }}"
kube_etcd_protocol: http
kube_etcd_creds: --peer-trusted-ca-file /srv/kubernetes/etcd-ca.crt --peer-cert-file /srv/kubernetes/etcd-peer.crt --peer-key-file /srv/kubernetes/etcd-peer.key -peer-client-cert-auth
kube_etcd_port: "2379"
kube_etcd_server_port: "2380"
kube_etcd_cluster_state: new

# certificate vars
kube_csr_country: US
kube_csr_state: AA
kube_csr_locality: Anytown
kube_csr_org: example.com
kube_csr_org_unit: management
kube_cert_expires_in_days: 10000