---
- name: copy keys and certs
  copy:
    src: "{{ kube_config_dir}}/pki/{{ item }}"
    dest: "{{ kube_config_dir }}/pki/{{ item }}"
  with_items:
    - ca.key
    - ca.crt
    - kubernetes.key
    - kubernetes.crt
    - kube-controller-manager.key
    - kube-controller-manager.crt
    - kube-scheduler.key
    - kube-scheduler.crt
    - sa.key
    - sa.pub
    - apiserver-kubelet-client.key
    - apiserver-kubelet-client.crt

- name: copy cluster admin user certs and keys for root user
  copy:
    src: "{{ kube_config_dir }}/pki/{{ item }}"
    dest: /root/.kube/{{ item }}
  with_items:
    - admin.key
    - admin.crt