apiVersion: v1
clusters:
- cluster:
    certificate-authority: {{ kube_config_dir }}/pki/ca.crt
    server: https://127.0.0.1:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: cluster-admin
  name: cluster-admin@kubernetes
current-context: cluster-admin@kubernetes
kind: Config
preferences: {}
users:
- name: cluster-admin
  user:
    client-certificate: /root/.kube/admin.crt
    client-key: /root/.kube/admin.key