apiVersion: v1
clusters:
- cluster:
    # certificate-authority-data: TODO
    # server: https://192.168.137.97:6443
    insecure-skip-tls-verify: true
    server: http://127.0.0.1:8080
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user: system:kube-controller-manager
  name: system:kube-controller-manager@kubernetes
current-context: system:kube-controller-manager@kubernetes
kind: Config
preferences: {}
users:
- name: system:kube-controller-manager
  user:
    # client-certificate-data: TODO 
    # client-key-data: TODO